
.fab 
{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    animation: smooth-right 1s ease;
}
.icono-skill i
{
    font-size: 100px;
    background: #0a818d;
    color: #84dcd8;
    font-size: 30px;
    padding: 5px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    border:3px solid #fff;
    position: absolute;
    left: -30px;
    top: 10.5px;
    animation: smooth-right 1s ease;
}
.icono-skill svg
{
    font-size: 100px;
    background: #0a818d;
    color: #84dcd8;
    font-size: 30px;
    padding: 5px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    border:3px solid #fff;
    position: absolute;
    left: -30px;
    top: 10.5px;
    animation: smooth-right 1s ease;
}
.icono-skill img
{
    font-size: 100px;
    background: #0a818d;
    font-size: 30px;
    padding: 5px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    border:3px solid #fff;
    position: absolute;
    left: -30px;
    top: 10.5px;
    animation: smooth-right 1s ease;
}
.icono-skill
{
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    position: relative;
    background: #0a818d;
    display: inline-block;
    padding: 4% 1% 4% 1%;
    border-radius: 10px;
    color: #84dcd8;
    animation: smooth-right 1s ease;
    
       
}
#skills-section h1
{
    color: #0a818d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: smooth-right 1s ease;

}
#awards-section
{
    background-color: #0a818d;
    color:white;
}

#awards-section h1
{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
body
{
    margin: 0px;
    padding: 0px;
}
#navigation
{
    
    background-color: black;
    color:white;
    margin-left:0px;
    padding: 0px 0px;
}

#navigation h1{
    padding: 1vw 1vw;
    animation: smooth-right 1s ease;
}

#main-section
{
    text-align: center ;
    height: 90vh;
   
}
#main-section .text
{
    color:#0a818d ;
    margin-top: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    animation: smooth-up 1s ease;
}

#main-section button
{
    text-decoration:none ;
    background-color:#0a818d ;
    color: white;
    border: none;
    border-radius: 10px;
    padding-top: 6px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 6px;
    font-size: 20px;
    font-weight: bold;
}
#about
{
    
    background-color:#0a818d ;
}
#about img{
    width: 100% ;
    border-radius:100%;
    animation: smooth-right 1s ease;
    margin-top: 100px;
    margin-bottom: 100px;
}
#about_text{
    margin-top: 5vw;
    margin-bottom:4vw ;
    padding: 20px 20px;
    color: white;
    animation: smooth-up 1s ease;
    font-size: 20px;
}
#about button
{
    text-decoration:none ;
    background-color:white ;
    color: #0a818d;
    border: none;
    border-radius: 10px;
    padding-top: 6px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 6px;
    font-size: 20px;
    font-weight: bold;

}

.difuminado
{
    opacity: .7;
}

#educacion h1
{
    color: #0a818d;
    
}

#proyectos
{
    background-color: #0a818d;
    color:white;
}

#proyectos img
{
    height: 350px;
   
}

#proyectos a
{
    color: #84dcd8;
}

.contact-box
{
    border:1px solid #0a818d;
    
 
}
.contact-box a
{ 
    text-decoration: none;
    color: #0a818d;
 
}


#footer-section
{
    background-color: black;
    color:white;
}

#navigation i 
{
    padding:5px 20px;
    font-size: 30px;
    color:white;
    animation: smooth-up 1s ease;
}
.txt-certificaciones{
    color:#0a818d;
}
@keyframes smooth-up
{
	0%
	{
		transform:translateY(20%);
		opacity:0;
	}
	100%
	{
		transform:translateY(0%);
		opacity:1;
	}
}

@keyframes smooth-right
{
	0%
	{
		transform:translateX(-20%);
		opacity:0;
	}
	100%
	{
		transform:translatex(0%);
		opacity:1;
	}
}
@media only screen and (max-width: 600px) 
{
    #about img{
        height: 300px;
    }
}
#service-section h1
{
    color: #0a818d;
    
}
